{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card hoverable">
                    <div class="card-content grey-text text-lighten-1">
                        <div class="row">
                            <form action="{% url 'accounts:login' %}" class="col s12 text-form" autocomplete="nope"
                                  method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="input-field confirm-description-field col s12">
                                        <input id="username" type="text" class="validate" name="username">
                                        <label for="username">نام کاربری</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field confirm-description-field col s12">
                                        <input id="username" type="password" class="validate" name="password">
                                        <label for="password">پسورد</label>
                                    </div>
                                </div>
                                <div class="card-action center-align">
                                    <div class="row">
                                        <input type="submit"
                                               class="btn-login btn amber darken-4 waves-effect white-text"
                                               value="ورود">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js'></script>
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}