{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        /* Center the table container */
        .table-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Center vertically within the viewport */
        }

        table {
            border-collapse: collapse;
            max-width: 75%;
        }

        td {
            border: 1px solid white; /* Add border styling as needed */
            padding: 8px; /* Add padding as needed */
            text-align: center;
        }

        tr {
            background-color: rgb(255 255 255 / 29%);
            color: white;
        }
    </style>
    <script>
        function redirectToURL(url) {
            window.location.href = url;
        }
    </script>
    <div class="table-container">
        <table>
            <tr>
                <td colspan="1" >لطفا بخش مد نظر را انتخاب کنید.</td>
            </tr>
            <tr>
                <td colspan="1" onclick="redirectToURL('{% url 'saffron:index' %}')">حسابداری زعفران</td>
            </tr>
        </table>
    </div>
{% endblock %}
